# CodING Academy: Python

## Warsztat 1

# PEP 8

### Czyli co to jest?
0. "Gramatyka" języka Python
0. Czytelność kodu - jednakowe zrozumienie

### Główne założenia
0. Wcięcia
0. 4 spacje
0. Długość linii (79 znaków)
0. Łamanie linii przed operatorem binarnym
0. Kodowanie UTF-8
0. Importy w osobnych liniach
0. Gdzie powinniśmy wstawiać spacje
0. Komentarze
0. Nazwy zmiennych (`snake_case`)
0. I wiele innych - zobacz: https://www.python.org/dev/peps/pep-0008/

### Zmienne

#### Wyświetlanie wartości zmiennej

In [4]:
# Zakładamy kartotekę dla klienta
imie = 'Adelajda'
nazwisko = 'Karczoszek'
wiek = 69
pesel = '22123110034'
numer_rachunku = '11105000001234543212'
flaga = False

In [5]:
# int --> w Python nie ma ograniczenia w wielkości zmiennej typu int:
327683413413516431631613451341243 * 151351513451364135415151

49595380553044747163083092725373611577959692457573372693

In [6]:
# ZEN Pythona - tych kilkanaście wersów w sposób kompaktowy pokazuje filozofię programowania w Python: prostota, czytelność, porządek
import this

In [7]:
# Wyświetl na ekranie zdanie: Nowy Klient: <imie> <nazwisko>, z numerem pesel <pesel>.

# Wariant "po przecinku" --> separator " " dodany z automatu
print("Nowy klient: ", imie, ' ', nazwisko, ' z numerem PESEL ', pesel)

# Wariant ze stringiem formatowanym -> przedrostek f
print(f"Nowy klient: {imie} {nazwisko}, z numerem PESEL {pesel} w wieku {wiek}")

# Wariant z konkatenacją --> operator konkatenacji (złączenia) stringów to +
print("Wiek: " + str(wiek) )

Nowy klient:  Adelajda   Karczoszek  z numerem PESEL  22123110034
Nowy klient: Adelajda Karczoszek, z numerem PESEL 22123110034 w wieku 69
Wiek: 69

### Znak końca linii - '\n'

In [10]:
# Wyświetl na ekranie atrybuty klienta, żeby kazdy atrybut znajdował się w osobnej linijce.

# znaki specjalne - poprzedzone \ 
print(f"Nowy klient:\n imie: {imie}\n nazwisko: {nazwisko}\n PESEL: {pesel}")

# wariant z dodatkowymi tabulacjami 
print(f"\nNowy klient:\n\t imie: {imie}\n\t nazwisko: {nazwisko}\n\t PESEL: {pesel}")

Nowy klient:
 imie: Adelajda
 nazwisko: Karczoszek
 PESEL: 22123110034

Nowy klient:
	 imie: Adelajda
	 nazwisko: Karczoszek
	 PESEL: 22123110034

In [11]:
# Klasyk :)

print("Hello World!")

Hello World!

### Operatory arytmetyczne

In [12]:
# Tworzymy dwie zmienne, na których będziemy wykonywali operacje arytmetyczne
saldo = 1000
kwota_przelewu = 500

In [13]:
# Wyświetl wartości zmiennych
print('Saldo klienta:', saldo)
print('Kwota przełewu:', kwota_przelewu)

Saldo klienta: 1000
Kwota przełewu: 500

In [14]:
# Saldo klienta po wykonaniu przelewu na rachunek klienta
print('Saldo klienta po wykonaniu przelewu:', saldo +  kwota_przelewu)

Saldo klienta po wykonaniu przelewu: 1500

In [15]:
# Saldo klienta po wykonaniu przelewu z rachunku klienta
print('Saldo klienta po wykonaniu przelewu:', saldo - kwota_przelewu )

Saldo klienta po wykonaniu przelewu: 500

In [16]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przełewów:',  kwota_przelewu * liczba_przelewow )

Łączna suma przełewów: 300

In [18]:

# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3

# dzielenie bez reszty --> wynik to float (liczba zmiennoprzecinkowa)
print('Łączna suma przełewów:', kwota_przelewu / liczba_przelewow )

# dzielenie z resztą --> wynik to int
print('Łączna suma przełewów:', kwota_przelewu // liczba_przelewow )

# dorzucamy zaokrąglenie do pełnych groszy
print('Łączna suma przełewów:', round(kwota_przelewu / liczba_przelewow, 2) )

Łączna suma przełewów: 33.333333333333336
Łączna suma przełewów: 33
Łączna suma przełewów: 33.33

In [19]:
# Klient chcę równo podzielić 150 zł. pomiędzy 3 rachunkami. Jaka kwota bedzie na każdym z rachunków?
suma = 150
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', suma / liczba_rachunkow )

Kwota bedzie na każdym z rachunków: 50.0

In [20]:
# Klient chcę równo podzielić 100 zł. pomiędzy 3 rachunkami, 
# żeby kwota na każdym z rachunków odpowiadała liczbie całkowitej
suma = 100
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', suma // liczba_rachunkow)

Kwota bedzie na każdym z rachunków: 33

In [22]:
# Jaka kwota bedzie nieprzydzielona po wykonaniu poprzedniej operacji
print('Nieprzydzielona kwota:', suma - liczba_rachunkow * (suma // liczba_rachunkow) )

# można to też zrobić licząc resztę z dzielenia - operator modulo:
print('Nieprzydzielona kwota:', suma % liczba_rachunkow)

Nieprzydzielona kwota: 1
Nieprzydzielona kwota: 1

In [23]:
# Operację potęgowania
x = 2
y = 3
print('Wynik potęgowania x ** y =', x ** y )

Wynik potęgowania x ** y = 8

In [24]:
# Skrócona ważność operatorów: (potęga), (iloczyn, iloraz, reszta z dzielenia, dzielenie całkowite), (suma, różnica)

print(3 + (4*5) - (12%5) * (4**2) )

# nawiasy są zbędne, gdy działania mają wykonać się wg "naturalnego, matematycznego porządku:

print( 3 + 4*5 - 12%5 * 4**2 )

-9
-9

In [25]:
# Czy wynik będzie ten sam?

In [26]:
print(3 + 2 * 4)

11

In [27]:
print((3 + 2)* 4)

20

In [28]:
# SyntaxError
= 5

SyntaxError: invalid syntax (temp/ipykernel_3896/3868021426.py, line 2)

In [33]:
# Czy możemy wykonać następne działania?

# = to operator przypisania, a nie porównania (==)
# przypisać wartość mozemy do czegoś, co może reprezentować nazwę zmiennej 
# nie da się tego zrobić do stringa / inta / floata

# niepoprawnie - próba przypisania wartości do stringa
# 'imię' = 1

# poprawnie --> imie to dopuszczalna etykietka dla zmiennej
# imie = 1

# niepoprawnie --> próba przypisania wartości do inta
# 1 = 7

# poprawnie, aczkolwiek... nieczytelnie, bo co to za zmienna _1 ???
_1 = 7

### Numeryczne typy danych

In [34]:
# Sprawdź typy następnych zmiennych:
saldo = 30.99999
kwota_przelewu = 34

print(type(saldo))
print(type(kwota_przelewu))

print(saldo * kwota_przelewu)
print(type(saldo * kwota_przelewu))

print(saldo + kwota_przelewu)
print(type(saldo + kwota_przelewu))

print(saldo / kwota_przelewu)
print(type(saldo / kwota_przelewu))

<class 'float'>
<class 'int'>
1053.99966
<class 'float'>
64.99999
<class 'float'>
0.9117644117647059
<class 'float'>

In [35]:
print('Typ zmiennej saldo:', type(saldo))
print('Typ zmiennej kwota_przelewu:', type(kwota_przelewu))

Typ zmiennej saldo: <class 'float'>
Typ zmiennej kwota_przelewu: <class 'int'>

In [36]:
# Skonwertuj zmienną kwota_przelewu do typu int:

print(type(saldo))
saldo = int(saldo)
print(type(saldo))

print(type(kwota_przelewu))
kwota_przelewu = float(kwota_przelewu)
print(type(kwota_przelewu))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>

# Typy logiczne

### bool
0. `False`
0. `True`

### bool-like
0. falsy
0. truthy

### Operatory porównania:
0. `<`
0. `<=`
0. `>`
0. `>=`
0. `==`
0. `!=`

### Operatory logiczne:
0. `and`
0. `or`
0. `in`
0. `is`
0. `not`

### Rzutowanie
`bool(x)`

In [37]:
# Na podstawie egzekucji klienta przypisz flagę windykcji
client_executions = [1000, 200, 200]
vindication_flag = [x<=200 for x in client_executions]
print(vindication_flag)
print(all(vindication_flag))

# analogie: operator dwuelementowy i funkcja działajaca na kontenerze danych (robią to samo, ale dla różnych ilości argumentów)
#   +   --> sum
#   and --> all 
#   or  --> any

# vindication_flag = abs(sum(client_executions) - 1400.01 < 0.01)
# abs(sum(client_executions) - 1400.01 < 0.01)
# vindication_flag

# client_executions = [1, 1, 0, 0, 1, 1]

# vindication_flag = all(client_executions)

# vindication_flag

[False, True, True]
False

In [42]:
# Na podstawie salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
accout_balance = 5_123.00
transaction_amount = 234000.99

transaction_possible = transaction_amount <= accout_balance
transaction_possible

False

In [40]:
# Na podstawie flagi aktywności rachunku oraz salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
is_account_active = False
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = transaction_amount <= accout_balance and is_account_active
transaction_possible

False

In [45]:
# bool-like --> python w warunkach logicznych interpretuje str/int/float/obj jako true / false; nie trzeba nawet rzutować na bool

# str: '' --> False, niepusty --> True
print(bool(''))
print(bool('Ala ma kota'))

# int: 0 --> False, != 0 --> True
print(bool(0))
print(bool(-5))

# tablica: [] --> False, niepusta --> True
print(bool([]))
print(bool([[]]))

# nie trzeba rzutować, przykład - wypisz ilość elementów tablicy, jeżeli tablica jest niepusta:

tablyca = []
print('wariant 1:')
if tablyca:
    print(len(tablyca))

print('\nwariant 2:')
tablyca = ['uuu']
if tablyca:
    print(len(tablyca))

False
True
False
True
False
True
wariant 1:

wariant 2:
1

In [46]:
# rzutowanie na typ logiczny
bool('a')

True

# Łańcuchy znaków

### String
0. `'string'`
0. `"string"`
0. `"""str
    ing"""`

### Znak wyjścia
0. `\'`
0. `\"`

### Konkatenacja
`string_1 + string_2`

### Slicing
`string[start:stop:step]`

### Rzutowanie
`str(x)`

In [47]:
# Stworzenie loginu - końcowa liczba to iloczyn wieku klienta i magicznej liczby
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91

customer_login = first_name[:-2] + last_name[:3] + str(age * magic_number)
last_name[-2]

'k'

In [49]:
# Uzupełnienie numeru rachunku do 10 znaków (wiodącymi zerami)
account_number = 12343252
len(str(account_number))

account_number_str = (( 10 - len(str(account_number)) ) * '0' + str(account_number))
# str(account_number).zfill(10) 
account_number_str

'0012343252'

In [50]:
print("""ArithmeticError 
asdasfdafaa
adsfasdfasdfas
adfasdfasdfasfd
afdafdsaasda
""")

ArithmeticError
asdasfdafaa
adsfasdfasdfas
adfasdfasdfasfd
afdafdsaasda

NameError: name 'index' is not defined

In [55]:
# index, join, split, 

# index - zwraca pozycję pierwszego wystąpienia substringa w stringu; jeżeli nie ma --> błąd
s = 'Ala ma kota'
print(s.index('ma'))

# opcjonalny argument zawęża zakres poszukiwań (od, do)
print(s.index('a')) # znajdzie pierwsze wystąpienie 'a'
print(s.index('a', 4)) # znajdzie pierwsze wystąpienie 'a' po 4 znaku


# join - łączy zestaw tekstów w jeden z użyciem substringa jako separatora

teksty = ['Ala', 'ma', 'kota']
print(" ".join(teksty) )
print(";".join(teksty) )
print("_separator_".join(teksty) )

# split - dzieli tekst na fragmenty używając podanego substringa jako wskazanie miejsc cięcia; zwraca listę tesktów

s = 'Abrakadabra'
print(s.split('u'))
print(s.split('a'))

4
2
5
Ala ma kota
Ala;ma;kota
Ala_separator_ma_separator_kota
['Abrakadabra']
['Abr', 'k', 'd', 'br', '']

### Sekwencje

#### tuple - tworzenie

In [57]:
# Stwórz krotkę, która zawiera współrzędne GPS budynku ING na Sokolskiej 34 w Katowicach: 50.265196, 19.018155
# Krotka - uporządkowana (można sie odwoływać do elementów numerem kolejnym jako indeksem), niezmiennicza (nie da się edytować pojedynczych elementów), hashowalna
sokolska_34_gps = (50.265196, 19.018155)

print(sokolska_34_gps)

# próba zmiany pojedynczego elementu --> błąd

sokolska_34_gps[0] = -1

(50.265196, 19.018155)

TypeError: 'tuple' object does not support item assignment

#### list - tworzenie

In [58]:
# Stwórz listę, która zawiera imię, nazwisko, numer klienta, wiek
imie = 'Klotylda'
nazwisko = 'Bombulda'
nr_klienta = 12314132
wiek = 78.9
client_features = [imie, nazwisko, nr_klienta, wiek]
client_features

['Klotylda', 'Bombulda', 12314132, 78.9]

#### tuple, list - indeksowanie, członkostwo, długość

In [59]:
# Znajdź pierwszy, drugi i ostatni element utworzonej wcześniej listy
first_name = client_features[0]
last_name = client_features[1]
age = client_features[-1]
print(first_name, last_name, age, "lata")

Klotylda Bombulda 78.9 lata

In [60]:
# Sprawdź długość listy client_features
len(client_features)

4

In [61]:
# Sprawdź czy wartość 25 jest w client_features
25 in client_features

False

In [63]:
# Sprawdź pozycję pierwszego wystąpienia wartości 25
print(client_features)
client_features.index('Bombulda')

['Klotylda', 'Bombulda', 12314132, 78.9]

1

In [195]:
# Sprawdź liczbę wystąpień wartości 25 w sekwencji
client_features.count((50.265196, 19.018155))

1

#### tuple, list - konkatenacja (łączenie)

In [72]:
# MOCNO POLECAM OFICJALNĄ DOKUMENTACJĘ:

# https://docs.python.org/3/tutorial/datastructures.html

In [64]:
# Połącz listę klientów z 03.08 i z 04.08
clients_03_08 = ['Alicja', 'Monika', 'Natalia']
clients_04_08 = ['Jerzy', 'Mateusz', 'Robert']
clients_04_08 + clients_03_08

['Jerzy', 'Mateusz', 'Robert', 'Alicja', 'Monika', 'Natalia']

In [65]:
# Stwórz listę z powtórzonej sekwencji elementów wykorzystując operator mnożenia
lista = [100, 200]
lista_new = lista * 3
lista_new
# [100,200,100,200,100,200]

[100, 200, 100, 200, 100, 200]

#### list - modyfikacja

In [66]:
# Stwórz pustą listę, która będzie zawierała nazwy kont nowego klienta
konta = [] 
print(konta)
type(konta)

[]

list

In [67]:
# Dodaj nazwę konta Direct i nazwę konta Komfort do listy
konta.append('Direct')
konta.append('Komfort')

print(konta)

['Direct', 'Komfort']

In [68]:
# Dodaj nazwę konta Mobi do listy, żeby nazwa Mobi znajdowała się na pierwszej pozycji
konta = [ ]
konta.append('Direct')
konta.append('Komfort')
konta.insert(0, 'Mobi')
konta

['Mobi', 'Direct', 'Komfort']

In [70]:
a = [1, 2, 3, 4]
print(a)
a.append(5)
print(a)
a.insert(100,7)
print(a)
a.insert(8,8)
print(a)
a.append(10).append(12)

a

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 8]

AttributeError: 'NoneType' object has no attribute 'append'

In [71]:
# Zamień nazwę konta Mobi na konto walutowe
konta = [ ]
konta.append('Direct')
konta.append('Komfort')
konta.insert(0, 'Mobi')
konta.insert(0, 'Mobi')
print(konta)

# znajdż indeks, odwołaj się do wartości listy po indeksie, przypisz nową wartość
index = konta.index('Mobi')
konta[index] = 'Konto_USD'
print(konta)

['Mobi', 'Mobi', 'Direct', 'Komfort']
['Konto_USD', 'Mobi', 'Direct', 'Komfort']

In [254]:
konta = [ ]
konta.append('Direct')
konta.append('Komfort')
konta.insert(0, 'Mobi')
konta.replace('Mobi', 'Bobi')
konta

AttributeError: 'list' object has no attribute 'replace'

In [73]:
# Usuń konto Direct z listy
konta = [ ]
konta.append('Direct')
konta.append('Komfort')
konta.insert(0, 'Mobi')
konta.append('Direct')

print(konta)

print('wejście w pętlę')
while('Direct' in konta):
    print("Iteracja:")
    print("przed:")
    print(konta)
    konta.remove('Direct')
    print('Po:')
    print(konta)

print('Po pętli:')
print(konta)

['Mobi', 'Direct', 'Komfort', 'Direct']
wejście w pętlę
Iteracja:
przed:
['Mobi', 'Direct', 'Komfort', 'Direct']
Po:
['Mobi', 'Komfort', 'Direct']
Iteracja:
przed:
['Mobi', 'Komfort', 'Direct']
Po:
['Mobi', 'Komfort']
Po pętli:
['Mobi', 'Komfort']

In [74]:
# Dodaj do listy 2 nowe konta: Walutowe_eur, Walutowe_usd
konta = [ ]
konta.append('Direct')
konta.append('Komfort')
konta.insert(0, 'Mobi')
konta += ['Walutowe_eur', 'Walutowe_usd']
print(konta)

['Mobi', 'Direct', 'Komfort', 'Walutowe_eur', 'Walutowe_usd']

In [75]:
# Usuń wszytskie elementy listy
konta = [ ]
konta.append('Direct')
print(konta)
konta.clear()
print(konta)

['Direct']
[]

#### zmienne jako referencje

In [76]:
# Stwórz listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Przypisz zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = ['Mobi', 'Direct', 'Oko']
client_2 = client_1
print(client_1)
print(client_2)

['Mobi', 'Direct', 'Oko']
['Mobi', 'Direct', 'Oko']

In [77]:
# Dodaj nazwę konta Direct do listy klienta 1
client_1.append('USD1')
client_2.append('USD2')

In [78]:
# Czy zmiany widoczne są w obydwu zmiennych.
print(client_1)
print(client_2)

['Mobi', 'Direct', 'Oko', 'USD1', 'USD2']
['Mobi', 'Direct', 'Oko', 'USD1', 'USD2']

#### list - klonowanie

In [79]:
# Stworzymy listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Sklonuj zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = ['Mobi', 'Direct', 'Oko']
client_2 = client_1.copy()
print(client_1)
print(client_2)

['Mobi', 'Direct', 'Oko']
['Mobi', 'Direct', 'Oko']

In [80]:
# Dodajemy nazwe konta Direct do listy klienta 1
client_1.append('USD1')
client_2.append('USD2')

In [81]:
# Czy zmiany widoczne są w obydwu zmiennych.
print(client_1)
print(client_2)

['Mobi', 'Direct', 'Oko', 'USD1']
['Mobi', 'Direct', 'Oko', 'USD2']

In [83]:
klient1 = [ ['Direct',100], ['Oko', 15000] ]

# płytkie kopiowanie --> nie wchodzimy w dalsze poziomy kopiowanych stroktur, kopiujemy jedynie referencje

# zagnieżdżony obiekt jest zmodyfikowany zarówno na pierwszym, jak i drugim kliencie
klient2 = klient1.copy()
print('Przed zmianą:')
print(klient1)
print(klient2)
# zmieniamy saldo na koncie 'Direct' pierwszego klienta
klient1[0][1] += 200
print('Po zmianie:')
print(klient1)
print(klient2)

# głębokie kopiowanie - zapewnia pełną niezależnosć kopii od obiektu kopiowanego
# zagnieżdżony obiekt jest zmodyfikowany tylko na pierwszym kliencie

from copy import deepcopy

klient2 = deepcopy(klient1)
print('Przed zmianą:')
print(klient1)
print(klient2)
# zmieniamy saldo na koncie 'Direct' pierwszego klienta
klient1[0][1] += 200
print('Po zmianie:')
print(klient1)
print(klient2)

Przed zmianą:
[['Direct', 100], ['Oko', 15000]]
[['Direct', 100], ['Oko', 15000]]
Po zmianie:
[['Direct', 300], ['Oko', 15000]]
[['Direct', 300], ['Oko', 15000]]
Przed zmianą:
[['Direct', 300], ['Oko', 15000]]
[['Direct', 300], ['Oko', 15000]]
Po zmianie:
[['Direct', 500], ['Oko', 15000]]
[['Direct', 300], ['Oko', 15000]]

#### tuple, list - fragmenty (slicing)

In [85]:
# Stwórz listę imion klientów
lista_klientow = ['Ala', 'Ola', 'Ula', 'Ela', 'Mela', 'Zela', 'Fela']

In [86]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element)
lista_klientow[2:5]

['Ula', 'Ela', 'Mela']

In [88]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element), używając ujemnych wartości
lista_klientow[-5:-2]

['Ula', 'Ela', 'Mela']

In [89]:
# Wyswietl co 2 element listy, zaczynając od 1 elementu
lista_klientow[::2]

['Ala', 'Ula', 'Mela', 'Fela']

In [91]:
# Odwróć kolejność elementów listy
print(lista_klientow[::-1])
print(lista_klientow)
lista_klientow.reverse()
print(lista_klientow)

['Ala', 'Ola', 'Ula', 'Ela', 'Mela', 'Zela', 'Fela']
['Fela', 'Zela', 'Mela', 'Ela', 'Ula', 'Ola', 'Ala']
['Ala', 'Ola', 'Ula', 'Ela', 'Mela', 'Zela', 'Fela']

#### tuple, list - konwersje, zakresy

In [92]:
# Stwórz listę na bazie krotki z numerami klientów
krotka_klientow = tuple(lista_klientow)
print(krotka_klientow)
nowa_lista_klientow = list(krotka_klientow)
print(nowa_lista_klientow)

('Ala', 'Ola', 'Ula', 'Ela', 'Mela', 'Zela', 'Fela')
['Ala', 'Ola', 'Ula', 'Ela', 'Mela', 'Zela', 'Fela']

In [ ]:
# Stwórz krotkę  na bazie listy z numerami klientów

In [93]:
# Stwórz listę na bazie napisu "ING"
list('ING')

['I', 'N', 'G']

In [95]:
# Stwórz krotkę zawierająca pięć pierwszych liczb naturalnych (licząc od zera).
print( (0, 1, 2, 3, 4) )
print( tuple(range(5)) )
print( tuple(x for x in range(5)) )

(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4)

In [96]:
# Stwórz listę pierwszych pięciu liczb naturalnych licząc od jeden.
list(range(1,6))

[1, 2, 3, 4, 5]

In [97]:
# Stwórz krotkę zawierająca liczby parzyste zaczynające się od 2
tuple( range(2,100, 2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

#### tuple, list - porządek, sortowanie

In [99]:
# Sprawdź czy kwoty przełewów, które zawiera lista 1 równe kwotom przełewów w liście 2
lista_1 = [100, 200, 200, 100]
lista_2 = [100, 200, 200, 100]

print(lista_1 == lista_2)

lista_1 = [100, 200, 200, 100]
lista_2 = [200, 100, 200, 100]

print(lista_1 == lista_2)

True
False

In [105]:
# Sprawdź czy lista 1 większa od listy 2
lista_1 = [100, 200, 200, 100]
lista_2 = [100, 200, 200, 100]

print(lista_1 < lista_2)
print(lista_1 <= lista_2)

lista_1 = [90, 100, 100, 90]
lista_2 = [100, 200, 200, 100]

print(lista_1 < lista_2)
print(lista_1 > lista_2)

lista_1 = [90, 300, 100, 190]
lista_2 = [100, 200, 200, 100]

print(lista_1 < lista_2)
print(lista_1 > lista_2)

lista_1 = [190, 200, 300, 190]
lista_2 = [190, 200, 200, 400]

print(lista_1 < lista_2)
print(lista_1 > lista_2)

False
True
True
False
True
False
False
True

In [109]:
# Posortuj krotkę listę imion klientów
lista_imion =  ("Ryszard", "Robert", "Andrzej", "Krzysztof", "Paweł")
print(sorted(lista_imion))

['Andrzej', 'Krzysztof', 'Paweł', 'Robert', 'Ryszard']

#### tuple, list - rozpakowywanie

In [112]:
# Przypisz do zmiennych client1, client2, inni imiona z listy lista_imion
client1, client2, inni = lista_imion[0], lista_imion[1], lista_imion[2:]
print(client1)
print(client2)
print(inni)

Ryszard
Robert
('Andrzej', 'Krzysztof', 'Paweł')

#### set - tworzenie

In [113]:
# Utwórz zbiór, który zawiera tylko unikalne numery rachunków klienta
nr_rachunku = {'1233', '2345', '4567', '2345'}
nr_rachunku

{'1233', '2345', '4567'}

#### set - algebra zbiorów

In [115]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 1 klienta
# zawierają się w  zbiorze numerów rachunku 2 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}
client_1.issubset(client_2)
client_1 == client_2

True

In [116]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 2 klienta
# zawierają się w  zbiorze numerów rachunku 1 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}
client_1 == client_2

True

In [117]:
# Sprawdź czy zbiory są rozłączne
client_1.intersection(client_2)

{'1233', '2345', '4567'}

#### set - modyfikacja

In [118]:
# Zmodyfikuj zbiór numerów rachunku 1 klienta, dodając do niego nr rachunku '6789'
client_1.add('6789')
client_1

{'1233', '2345', '4567', '6789'}

In [119]:
# Usuń ze zbioru numerów rachunku 1 klienta, nr rachunku: 2345
client_1.remove('2345')
client_1

{'1233', '4567', '6789'}

In [120]:
# Usuń wszystkie elementy ze zbioru numerów rachunku 1 klienta
client_1.clear()
client_1

set()

#### set - elementy hashowalne

In [122]:
# lista jest modyfikowalna --> nie jest hashowalna 
set_with_list = set()
set_with_list.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [123]:
mix_set = { 1, 3, True, "Some text", 2.3, (1, 2, 3)}
mix_set

{(1, 2, 3), 1, 2.3, 3, 'Some text'}

# Słowniki

### Tworzenie słownika
0. `{}`
0. `dict()`

### Funkcje
0. `enumerate`
0. `zip`

In [128]:
# Kartoteka klienta jako słownik
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = {'first_name':"Jan", 'last_name':"Ingowski", 'age':34,  'magic_number':91,  'accounts_balance': 5_345.87 }
print(customer_1234567890)

# zmiana wartosci w słowniku:
customer_1234567890['magic_number'] = 88
print(customer_1234567890)

# odwołanie do elementu po indeksie:
print(customer_1234567890['first_name'])

# sprawdzenie przynależności elementów --> odwołuje się do kluczy, nie do wartości:
print( 'Jan' in customer_1234567890 )
print('age' in customer_1234567890)

{'first_name': 'Jan', 'last_name': 'Ingowski', 'age': 34, 'magic_number': 91, 'accounts_balance': 5345.87}
{'first_name': 'Jan', 'last_name': 'Ingowski', 'age': 34, 'magic_number': 88, 'accounts_balance': 5345.87}
Jan
False
True

In [129]:
# Zebranie wielu kartotek do słownika
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = {'first_name':first_name, 'last_name':last_name, 'age':age,  'magic_number':magic_number,  'accounts_balance': accounts_balance }

first_name = "Anna"
last_name = "Ingowska"
age = 32
magic_number = 98
accounts_balance = 6_375.89

customer_1234567891 = {'first_name':first_name, 'last_name':last_name, 'age':age,  'magic_number':magic_number,  'accounts_balance': accounts_balance }

customers = [customer_1234567890, customer_1234567891]

customers

[{'first_name': 'Jan',
  'last_name': 'Ingowski',
  'age': 34,
  'magic_number': 91,
  'accounts_balance': 5345.87},
 {'first_name': 'Anna',
  'last_name': 'Ingowska',
  'age': 32,
  'magic_number': 98,
  'accounts_balance': 6375.89}]

#### zagnieżdżone sekwencje

In [131]:
# Stwórz listę, której elementami są 2 poniższe listy:
list_a=[1,2,3]
list_b=[4,5,6]

list_nested = [list_a, list_b]

# wypisz na ekran listę list_b odnosząc się do niej z użyciem list_nested (użyj indeksu)
print(list_nested[1])
# wypisz na ekran element o indeksie 2 z listy o indeksie 1 (6)
print(list_nested[1][2])

[4, 5, 6]
6

In [132]:
# stwórz krotkę (tuple), która zawiera kolejno: listę [1,2,3], słownik {"ala":"ma kota"}, set {1,2,3,4}
krotka=([1,2,3], {"ala":"ma kota"}, {1,2,3,4})
# zwróć z tej krotki:
# sam słownik
print(krotka[1])
# stringa "ma kota"
print(krotka[1]['ala'])

{'ala': 'ma kota'}
ma kota

Zagnieżdżać można wiele typów w sobie nawzajem. Przykładowo lista może zawierać słowniki, które to zawierają tuple (krotki).
Pewnie zastanawiacie się do czego tak skomplikowane struktury mogą byc przydatne. Spójrz na naszą kartotekę:
każdy klient, oprócz danych osobowych ma jeden lub więcej rachunków, a rachunek ma saldo i numer. Klientów jest wielu, więc możemy ich przechować np. w formie listy.

In [141]:
# Zaprojektuj zagnieżdżoną strukturę do przechowywania takich kartotek i zapisz do niej 3 klientów. 
# Niech każdy klient ma po 2 rachunki.
K1 = {
    'imie': 'Konstanty', 
    'nazwisko': 'Gałczyński', 
    'rachunki': [ 
    {'produkt':'Direct', 'status':'Otwarty', 'saldo':1222.22, 'transakcje_oczekujace':[(500, 'UZNANIE'), (200, 'OBCIĄŻENIE')]}, 
    {'produkt': 'OKO', 'status':'Otwarty', 'saldo':'1232323.12', 'transakcje_oczekujace':[]  }
    ]}

K2 = {
    'imie': 'Gumisia', 
    'nazwisko': 'Szymborska', 
    'rachunki': [ 
    {'produkt':'OKO', 'saldo': 12.22, 'status':'Uśpiony', 'transakcje_oczekujace':[(20000, 'OBCIĄŻENIE')] } 
    ]}

K3 = {
    'imie': 'Bernard', 
    'nazwisko': 'Bezproduktowy', 
    'rachunki': []}

K = [K1, K2, K3]

# Wypisz na ekran imiona klientów
print([klient['imie'] for klient in K]) 

# Wypisz wszystkie typy rachunków klienta o indeksie 1
print([ rachunek['produkt'] for rachunek in K[1]['rachunki'] ] )
# Wypisz wszystkie salda wszystkich klientów
print( [ rachunek['saldo'] for klient in K for rachunek in klient['rachunki']  ])

['Konstanty', 'Gumisia', 'Bernard']
['OKO']
[1222.22, '1232323.12', 12.22]