# CodING Academy: Python

## Warsztat 1

# PEP 8

### Czyli co to jest?
0. "Gramatyka" języka Python
0. Czytelność kodu - jednakowe zrozumienie

### Główne założenia
0. Wcięcia
0. 4 spacje
0. Długość linii (79 znaków)
0. Łamanie linii przed operatorem binarnym
0. Kodowanie UTF-8
0. Importy w osobnych liniach
0. Gdzie powinniśmy wstawiać spacje
0. Komentarze
0. Nazwy zmiennych (`snake_case`) camelCase
0. I wiele innych - zobacz: https://www.python.org/dev/peps/pep-0008/

In [49]:
import this

### Zmienne

#### Wyświetlanie wartości zmiennej

In [50]:
# Zakładamy kartotekę dla klienta
imie = "Sylwia"
nazwisko = "Pietrek" 
wiek = 35
pesel = 88100101504 
numer_rachunku = 9712345685

print("Nowy klient", imie, nazwisko, "z numerem PESEL", pesel)

Nowy klient Sylwia Pietrek z numerem PESEL 88100101504

In [51]:
322145668412365120*25566322566332252663

8236080071977237517091221213248314560

In [52]:
# Wyświetl na ekranie zdanie: Nowy Klient: <imie> <nazwisko>, z numerem pesel <pesel>.

### Znak końca linii - '\n'

In [73]:


# Wyświetl na ekranie atrybuty klienta, żeby kazdy atrybut znajdował się w osobnej linijce. 
print(f"Nowy klient: {imie} {nazwisko}  z numerem PESEL {pesel}")
print(f"Nowy klient: \n imię: {imie}\n nazwisko {nazwisko}\n z numerem PESEL {pesel}")

Nowy klient: Sylwia Pietrek  z numerem PESEL 88100101504
Nowy klient:
 imię: Sylwia
 nazwisko Pietrek
 z numerem PESEL 88100101504

### Operatory arytmetyczne

In [54]:
# Tworzymy dwie zmienne, na których będziemy wykonywali operacje arytmetyczne
saldo = 1000
kwota_przelewu = 500

In [74]:
# Wyświetl wartości zmiennych
print('Saldo klienta:', saldo)
print('Kwota przełewu:', kwota_przelewu)

Saldo klienta: 1000
Kwota przełewu: 100

In [75]:
# Saldo klienta po wykonaniu przelewu na rachunek klienta
print('Saldo klienta po wykonaniu przelewu:', saldo + kwota_przelewu)

Saldo klienta po wykonaniu przelewu: 1100

In [76]:
# Saldo klienta po wykonaniu przelewu z rachunku klienta
print('Saldo klienta po wykonaniu przelewu:', saldo - kwota_przelewu)

Saldo klienta po wykonaniu przelewu: 900

In [79]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przelewów:', kwota_przelewu*liczba_przelewow)

Łączna suma przelewów: 300

In [83]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przelewów:', kwota_przelewu/liczba_przelewow) #dzielenie dwóch liczb całkowitych daje liczbę zmiennoprzecinkową float
print('Łączna suma przelewów:', round(kwota_przelewu/liczba_przelewow))

Łączna suma przelewów: 33.333333333333336
Łączna suma przelewów: 33

In [86]:
# Klient chcę równo podzielić 150 zł. pomiędzy 3 rachunkami. Jaka kwota bedzie na każdym z rachunków?
suma = 150
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', suma //liczba_rachunkow)

Kwota bedzie na każdym z rachunków: 50

In [87]:
# Klient chcę równo podzielić 100 zł. pomiędzy 3 rachunkami, 
# żeby kwota na każdym z rachunków odpowiadała liczbie całkowitej
suma = 100
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', (suma // liczba_rachunkow))

Kwota bedzie na każdym z rachunków: 33

In [88]:
# Jaka kwota bedzie nieprzydzielona po wykonaniu poprzedniej operacji
print('Kwota bedzie na każdym z rachunków:', suma - liczba_rachunkow * (suma // liczba_rachunkow))

Kwota bedzie na każdym z rachunków: 1

In [89]:
# Operację potęgowania
x = 2
y = 3
print('Wynik potęgowania x ** y =', x**y)

Wynik potęgowania x ** y = 8

In [90]:
# Skrócona ważność operatorów: (potęga), (iloczyn, iloraz, reszta z dzielenia, dzielenie całkowite), (suma, różnica)
3 + (4*5) - (12%5) * (4**2)

-9

In [65]:
# Czy wynik będzie ten sam?

In [91]:
print(3 + 2 * 4)

11

In [92]:
print((3 + 2)* 4)

20

In [95]:
# SyntaxError
= 5

SyntaxError: invalid syntax (3868021426.py, line 2)

In [96]:
# Czy możemy wykonać następne działania?
'imię' = 1
1 = 'nazwisko'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2036754599.py, line 2)

### Numeryczne typy danych

In [103]:
# Sprawdź typy następnych zmiennych:
saldo = - 3000
kwota_przelewu1 = 345.75

In [104]:
print('Typ zmiennej saldo:', type(saldo))
print('Typ zmiennej kwota_przelewu1:', type(kwota_przelewu1))

Typ zmiennej saldo: <class 'int'>
Typ zmiennej kwota_przelewu1: <class 'float'>

In [105]:
# Skonwertuj zmienną kwota_przelewu do typu int:
print(type (kwota_przelewu1))
kwota_przelewu1 = int(kwota_przelewu1)
print(kwota_przelewu1, type(kwota_przelewu1))

<class 'float'>
345 <class 'int'>

# Typy logiczne

### bool
0. `False`
0. `True`

### bool-like
0. falsy
0. truthy

### Operatory porównania:
0. `<`
0. `<=`
0. `>`
0. `>=`
0. `==`
0. `!=`

### Operatory logiczne:
0. `and`
0. `or`
0. `in`
0. `is`
0. `not`

### Rzutowanie
`bool(x)`

In [107]:
# Na podstawie egzekucji klienta przypisz flagę windykcji
client_executions = [100,200,200]
vindication_flag = sum(client_executions) >= 1000
vindication_flag
# + ---> sum
# and ---> all
#or ---> any

False

In [108]:
client_executions = [1,1,0,0,1,1]
vindication_flag = all(client_executions)
vindication_flag

for i in client_executions:
    print(bool(i))

True
True
False
False
True
True

In [109]:
# Na podstawie salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = transaction_amount <= accout_balance
transaction_possible

True

In [111]:
# Na podstawie flagi aktywności rachunku oraz salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
is_account_active = False
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = is_account_active and (transaction_amount <= accout_balance)
transaction_possible

False

# Łańcuchy znaków

### String
0. `'string'`
0. `"string"`
0. `"""str
    ing"""`

### Znak wyjścia
0. `\'`
0. `\"`

### Konkatenacja
`string_1 + string_2`

### Slicing
`string[start:stop:step]`

### Rzutowanie
`str(x)`

In [115]:
# Stworzenie loginu - końcowa liczba to iloczyn wieku klienta i magicznej liczby
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91

customer_login = first_name[:3] + last_name[:3] + str(age*magic_number)
customer_login
last_name[::-1]

'ikswognI'

In [130]:
# Uzupełnienie numeru rachunku do 10 znaków (wiodącymi zerami)
account_number = 12345678
len(str(account_number))
account_number_str = (10 - len(str(account_number))) * '0' + str(account_number)

account_number_str

#Napis jest niemutowalny


#index - Znajduje pierwszą lokalizację danego elementu
#replace
#join
#split

s = "Ala ma kota"

#s = replace.('Ala','Kasia')
"@dasa".join(['Ala', 'ma', 'kota'])
'Ala@dasama@dasakota'.split('?')

['Ala@dasama@dasakota']

### Sekwencje

#### tuple - tworzenie

In [133]:
# Stwórz krotkę, która zawiera współrzędne GPS budynku ING na Sokolskiej 34 w Katowicach: 50.265196, 19.018155
sokolska_34_gps = 50.265196, 19.018155
print(type(sokolska_34_gps), sokolska_34_gps)

<class 'tuple'> (50.265196, 19.018155)

#### list - tworzenie

In [134]:
# Stwórz listę, która zawiera imię, nazwisko, numer klienta, wiek
imie = 'Anka'
nazwisko = 'Kaczkowska'
nr_klienta = 123456
wiek = 35
client_features = [imie, nazwisko, nr_klienta, wiek, sokolska_34_gps]
client_features

['Anka', 'Kaczkowska', 123456, 35]

#### tuple, list - indeksowanie, członkostwo, długość

In [136]:
# Znajdź pierwszy, drugi i ostatni element utworzonej wcześniej listy
first_name = client_features[0]
last_name = client_features[1]
age = client_features[-2]
print(first_name, last_name, age, "lata")

Anka Kaczkowska 123456 lata

In [145]:
# Sprawdź długość listy client_features
len_client_features = len(client_features)
client_features
client_features[-1]

35

In [142]:
# Sprawdź czy wartość 25 jest w client_features
123456 in client_features

True

In [147]:
# Sprawdź pozycję pierwszego wystąpienia wartości 25
client_features.index(35)

3

In [148]:
# Sprawdź liczbę wystąpień wartości 25 w sekwencji
client_features.count(35)

1

#### tuple, list - konkatenacja (łączenie)

In [149]:
# Połącz listę klientów z 03.08 i z 04.08
clients_03_08 = ['Alicja', 'Monika', 'Natalia']
clients_04_08 = ['Jerzy', 'Mateusz', 'Robert']
clients = clients_03_08 + clients_04_08
clients
# clients_03_08 + clients_04_08 == clients_04_08 + clients_03_08   #False

['Alicja', 'Monika', 'Natalia', 'Jerzy', 'Mateusz', 'Robert']

In [151]:
# Stwórz listę z powtórzonej sekwencji elementów wykorzystując operator mnożenia
lista = [100, 200]
lista_new = lista *2
lista_new
# [100,200,100,200,100,200]

[100, 200, 100, 200]

#### list - modyfikacja

In [152]:
# Stwórz pustą listę, która będzie zawierała nazwy kont nowego klienta
konta = []
print(konta)
type (konta)

[]

list

In [153]:
# Dodaj nazwę konta Direct i nazwę konta Komfort do listy

konta.append('Direct')
print(konta)

['Direct']

In [159]:
b = [1,2,3,4]
b.append(5)
b
b.insert(0, 7)
b

[7, 1, 2, 3, 4, 5]

In [161]:
# Dodaj nazwę konta Mobi do listy, żeby nazwa Mobi znajdowała się na pierwszej pozycji
konta = []
konta.append('Direct')
konta.append('Komfort')
print(konta)
konta.insert(0, 'Mobi')
print(konta)

['Direct', 'Komfort']
['Mobi', 'Direct', 'Komfort']

In [167]:
# Zamień nazwę konta Mobi na konto walutowe
#konta[2] = 'Konto Walutowe'
konta[konta.index('Mobi')] = "Konto USD"
print(konta)

['Konto USD', 'Konto Walutowe']

In [164]:
# Usuń konto Direct z listy
while('Direct' in konta):
    konta.remove('Direct')
print(konta)

['Mobi', 'Konto Walutowe']

In [165]:
# Dodaj do listy 2 nowe konta: Walutowe_eur, Walutowe_usd
konta = konta + "Walutowe_eur"  + Walutowe_usd
print(konta)

TypeError: can only concatenate list (not "str") to list

In [ ]:
# Usuń wszytskie elementy listy

print(konta)

#### zmienne jako referencje

In [181]:
# Stwórz listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Przypisz zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = ['Mobi', 'Direct', 'OKO']
client_2 = client_1
print(client_1)
print(client_2)

['Mobi', 'Direct', 'OKO']
['Mobi', 'Direct', 'OKO']

In [182]:
# Dodaj nazwę konta Direct do listy klienta 1
client_1.append('USD1')
client_2.append('USD2')

In [178]:
# Czy zmiany widoczne są w obydwu zmiennych.
print(client_1)
print(client_2)
#dodanie jednego elementu z jednej listy wpłyneło na drugą listę, tak jakby stworzyć nową etykietkę dla tego samego obiektu

['Mobi', 'Direct', 'OKO', 'USD', 'USD1']
['Mobi', 'Direct', 'OKO', 'USD', 'USD2']

#### list - klonowanie

In [185]:
# Stworzymy listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Sklonuj zmmienną klienta 1  do  zmiennej klienta 2.

klient_1  = ['Mobi', 'Direct', 'OKO']
klient_2 = klient_1.copy()
klient_1.append('USD1')
klient_2.append('USD2')

In [186]:
# Dodajemy nazwe konta Direct do listy klienta 1
print(klient_1)
print(klient_2)

['Mobi', 'Direct', 'OKO', 'USD1']
['Mobi', 'Direct', 'OKO', 'USD2']

In [ ]:
# Czy zmiany widoczne są w obydwu zmiennych.

#### tuple, list - fragmenty (slicing)

In [ ]:
# Stwórz listę imion klientów
lista_klientow = []

In [ ]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element)

In [ ]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element), używając ujemnych wartości

In [ ]:
# Wyswietl co 2 element listy, zaczynając od 1 elementu

In [ ]:
# Odwróć kolejność elementów listy

#### tuple, list - konwersje, zakresy

In [ ]:
# Stwórz listę na bazie krotki z numerami klientów

In [ ]:
# Stwórz krotkę  na bazie listy z numerami klientów

In [ ]:
# Stwórz listę na bazie napisu "ING"

In [ ]:
# Stwórz krotkę zawierająca pięć pierwszych liczb naturalnych (licząc od zera).

In [ ]:
# Stwórz listę pierwszych pięciu liczb naturalnych licząc od jeden.

In [ ]:
# Stwórz krotkę zawierająca liczby parzyste zaczynające się od 2

#### tuple, list - porządek, sortowanie

In [ ]:
# Sprawdź czy kwoty przełewów, które zawiera lista 1 równe kwotom przełewów w liście 2
lista_1 = 
lista_2 =

In [ ]:
# Sprawdź czy lista 1 większa od listy 2
lista_1 = 
lista_2 =

In [ ]:
# Posortuj krotkę listę imion klientów
lista_imion =  ("Ryszard", "Robert", "Andrzej", "Krzysztof", "Paweł")

#### tuple, list - rozpakowywanie

In [ ]:
# Przypisz do zmiennych client1, client2, inni imiona z listy lista_imion

#### set - tworzenie

In [ ]:
# Utwórz zbiór, który zawiera tylko unikalne numery rachunków klienta
nr_rachunku = {'1233', '2345', '4567', '2345'}

#### set - algebra zbiorów

In [191]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 1 klienta
# zawierają się w  zbiorze numerów rachunku 2 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}
client_2.issubset(client_1)
client_1 == client_2

True

In [193]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 2 klienta
# zawierają się w  zbiorze numerów rachunku 1 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}
client_1 == client_2

{'1233', '2345', '4567'}

In [194]:
# Sprawdź czy zbiory są rozłączne
client_1.intersection(client_2)

{'1233', '2345', '4567'}

#### set - modyfikacja

In [195]:
# Zmodyfikuj zbiór numerów rachunku 1 klienta, dodając do niego nr rachunku '6789'
client_1.add('6789')
print(client_1)

{'1233', '4567', '6789', '2345'}

In [196]:
# Usuń ze zbioru numerów rachunku 1 klienta, nr rachunku: 2345
client_1.remove('6789')
print(client_1)

{'1233', '4567', '2345'}

In [197]:
# Usuń wszystkie elementy ze zbioru numerów rachunku 1 klienta
client_1.clear()
client_1

set()

#### set - elementy hashowalne

In [198]:
set_with_list = set()
set_with_list.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [200]:
mix_set = { 1, 3, True, "Some text", 2.3, (1, 2, 3)}
mix_set

{(1, 2, 3), 1, 2.3, 3, 'Some text'}

# Słowniki

### Tworzenie słownika
0. `{}`
0. `dict()`

### Funkcje
0. `enumerate`
0. `zip`

In [202]:
# Kartoteka klienta jako słownik
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = {'first_name' : "Jan", 
                       'last_name' : "Ingowski", 
                       'age' : 34, 
                       'magic_number' : 91, 
                       'account_number': 5_345.87}

customer_1234567890['magic_number']

91

In [ ]:
# Zebranie wielu kartotek do słownika
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = ...

first_name = "Anna"
last_name = "Ingowska"
age = 32
magic_number = 98
accounts_balance = 6_375.89

customer_1234567891 = ...

customers = ...

customers

#### zagnieżdżone sekwencje

In [ ]:
# Stwórz listę, której elementami są 2 poniższe listy:
list_a=[1,2,3]
list_b=[4,5,6]

list_nested=

# wypisz na ekran listę list_b odnosząc się do niej z użyciem list_nested (użyj indeksu)
# wypisz na ekran element o indeksie 2 z listy o indeksie 1 (6)

In [203]:
# stwórz krotkę (tuple), która zawiera kolejno: listę [1,2,3], słownik {"ala":"ma kota"}, set {1,2,3,4}
krotka=([1,2,3], {"ala":"ma kota"}, {1,2,3,4})
# zwróć z tej krotki:
# sam słownik
# stringa "ma kota"
1 in krotka[0]

True

Zagnieżdżać można wiele typów w sobie nawzajem. Przykładowo lista może zawierać słowniki, które to zawierają tuple (krotki).
Pewnie zastanawiacie się do czego tak skomplikowane struktury mogą byc przydatne. Spójrz na naszą kartotekę:
każdy klient, oprócz danych osobowych ma jeden lub więcej rachunków, a rachunek ma saldo i numer. Klientów jest wielu, więc możemy ich przechować np. w formie listy.

In [ ]:
# Zaprojektuj zagnieżdżoną strukturę do przechowywania takich kartotek i zapisz do niej 3 klientów. 
# Niech każdy klient ma po 2 rachunki.

# Wypisz na ekran imiona klientów
# Wypisz wszystkie numery rachunków klienta o indeksie 1
# Wypisz wszystkie salda wszystkich klientów